@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.carouselSlider {
  font-size: 30px; }

.carouselContainer {
  width: 100vw;
  height: 150px;
  background-color: white; }
  .carouselContainer .itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .carouselContainer .itemContainer .carouselImage {
      height: 75px;
      width: 75px; }
