@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.newsWrapper {
  width: 102vw;
  background-color: #F3F0E9;
  display: flex;
  justify-content: center;
  align-items: center; }
  .all-news{
    width: 80%;
    margin: 0 auto;
  }

#newsTitle {
  background: #F3F0E9;
  height: 75px;
  width: 100vw;
  /*margin: 2.2%;*/
   }
  #newsTitle p {
    font-size: 3.125em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100 !important; }

.newsContainer {
  background: #F3F0E9;
  /*width: 102vw;*/
  height: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .newsContainer .picTextContainer {
    width: 30%;
    height: 33%; }
    .newsContainer .picTextContainer img {
      width: 95%; }
    .newsContainer .picTextContainer p {
      width: 100%;
      height: 20%;
      text-align: left;
      font-size: 1.3em;
      font-family: 'Open Sans', sans-serif; }
