.AccountBodyMainDiv {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}





/* SIGN IN DATE*/
.AccountBodyMainLastDate {
  margin-left: 83%;
  margin-top: 1%;
}
/* SIGN IN DATE end*/





/* LEFT */
.AccountBodyLeft {
  width: 33.33%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1%;
}



.AccountBodyLeftTop {
  border-top: 4px solid #096DF7;
  border-top-color: #096DF7;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 25%;
  width: 90%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
}

.AccountBodyLeftTop div div {
  display: flex;
  justify-content: flex-end;
}


.AccountBodyLeftBottom {
  padding: 3%;
  height: 25%;
  width: 90%;
  border: 1px solid black;
  display: flex;
}

.AccountBodyLeftBottomImg {
  padding: 3%;
}

.AccountBodyLeftBottomText {
  margin-left: 10%;
}

.AccountBodyLeftBottomTextHead {
  font-weight: 500;
  font-size: 145%;
}

.AccountBodyLeftBottomTextLink {
  color: rgb(29, 68, 85);
}

/* LEFT end */













/* RIGHT */
.AccountBodyRight {
  width: 65%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1%;
}

.AccountBodyRightTop {
  height: 50%;
  width: 100%;
  border-top: 15px solid #096DF7;
  border-top-color: #096DF7;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}

.AccountBodyRightTopTop {
  height: 40%;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.AccountBodyRightTopTop1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3%;
}

.AccountBodyRightTopTop11 {
  font-size: 150%;
}

.AccountBodyRightTopTop12 {
  border: 2px solid #096DF7;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
}

.AccountBodyRightTopTop2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.AccountBodyRightTopTop2 div {
  margin-right: 3%;
}

.AccountBodyRightTopTop22 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.AccountBodyRightTopTop22 div {
  margin-right: 10%;
  margin-left: 3%;
}

.AccountBodyRightTopTop3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AccountBodyRightTopMid {
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.AccountBodyRightTopMid div {
  border: 1px solid black;
  border-radius: 3px;
  background: grey;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: .5%;
  padding-bottom: .5%;
}

.AccountBodyRightTopBottom {
  height: 350%;
  display: flex;
}

.AccountBodyRightTopBottom div {
  margin: 1%;
}

.AccountBodyRightMid {
  height: 5%;
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.AccountBodyRightMidLeft {
  margin-left: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.AccountBodyRightMidRight {
  margin-right: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.AccountBodyRightMidLeftTrans {
  border: 1px solid black;
}

.AccountBodyRightBottom {
  width: 100%;
  border: 1px solid black;
}

.AccountBodyRightBottomHead {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

.AccountBodyRightBottomHeadL {
  display: flex;
  justify-content: space-around;
}

.AccountBodyRightBottomHeadR {
  display: flex;
  justify-content: space-around;
}

.AccountBodyRightBottomRepeat {
  display: flex;
  justify-content: space-around;
}

/* RIGHT end */
