

/* upper header */
.AccountHeaderUpper {
  height: 8vh;
  background-image: url("../../Images/AccountHeaderUpperClouds1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; }

.AccountHeaderUpperLeft {
  display: flex;
  margin-left: 50px; }

.AccountHeaderUpperCenter {
  display: flex;
  justify-content: center; }
  

.AccountHeaderUpperRight {
  display: flex;
  margin-right: 4em; }

/* upper header end */
/* lower header */
.AccountHeaderLower {
  height: 40%;
  background: #096DF7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.AccountHeaderLower div {
  margin-left: 1.5%;
  color: white; }

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
  margin-right: 2em; }

.account-header-icon {
  width: 3em;
  height: 2em; }

.logo{
  margin-left: -4.1em;
}
.sign-out-tab{
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
}
/* lower header end */
