.AccountHeaderDiv {
  /* border: 1px solid black; */
  width: 800px;
  height: 100px;
  background: orange;
}


/* upper header */

.AccountHeaderUpper {
  height: 15vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.AccountHeaderUpperLeft {
  display: flex;
}

.AccountHeaderUpperCenter {
  display: flex;
}
.AccountHeaderUpperCenter> img{
    width: 5em;
}

.AccountHeaderUpperRight {
  display: flex;
}

/* upper header end */


/* lower header */

.AccountHeaderLower {
  height: 40%;
  background: #096DF7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.AccountHeaderLower div {
  margin-left: 1.5%;
  color: white;
}

/* lower header end */
{
  z-index: 5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  padding: 20px;
  color: blue;
  height: 11.4em;
  font-size: 0.5em;
  position: fixed;
  width: 100%;
  top: 0;
}