.AccountHeaderDiv {
  /* border: 1px solid black; */
  width: 800px;
  height: 100px;
  background: orange; }

/* upper header */
.AccountHeaderUpper {
/*<<<<<<< HEAD*/
  height: 4.4em;
  background-image: url('../../Images/AccountHeaderUpperClouds1.jpg');
/*=======
  height: 15vh;
  background-image: url("../../Images/AccountHeaderUpperClouds1.jpg");
>>>>>>> master*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; }

.AccountHeaderUpperLeft {
  display: flex;
  margin-left: 50px; }

.AccountHeaderUpperCenter {
/*<<<<<<< HEAD*/
  display: flex;
}
.account-header-icon{
    width: 3em;
}
/*=======
  display: flex; }
>>>>>>> master*/

.AccountHeaderUpperRight {
  display: flex; }

/* upper header end */
/* lower header */
.AccountHeaderLower {
  height: 40%;
  background: #096DF7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.AccountHeaderLower div {
  margin-left: 1.5%;
  color: white; }


.AccountHeaderUpperLeft img, .AccountHeaderUpperRight img {
    width: 5em;
    height: 2em;
}
button.sign-out-tab{
    margin-right: 1em;
    background-color: rgba(0,0,0,0.4) !important;
    border-radius: 7px;
    padding: 0.5em 1em 0.5em 1em;
}
.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
  margin-right: 2em; }

/* lower header end */
